---
database:
  adapter: unconfigured

# Use the mock database for quick testing/validation.

#database:
#  adapter: mock

# Use PostgreSQL for production deployments.

#database:
#  adapter: postgresql
#  encoding: unicode
#  pool: 5
#  host: <%= ENV['DATABASE_HOST'] %>
#  database: <%= ENV['DATABASE_NAME'] %>
#  username: <%= ENV['DATABASE_USER'] %>
#  password: <%= ENV['DATABASE_PASSWORD'] %>

# Example with ssl cert auth

#database:
#  adapter: postgresql
#  encoding: unicode
#  pool: 5
#  host: <%= ENV['DATABASE_HOST'] %>
#  database: <%= ENV['DATABASE_NAME'] %>
#  sslmode: verify-full
#  sslcert: client.crt
#  sslkey: client.key
#  sslrootcert: ca.crt

# For development purposes, authentication may be disabled.

#authenticate: false
#token_signature: <secret-string>
